.comp__blog {
  display: flex;
  flex-direction: column;
  background: rgb(6, 20, 95);
}

.comp__blog-heading {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}

.comp__blog-heading h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 34px;
  line-height: 65px;
  letter-spacing: 0.05rem;
}

.comp__blog-container {
  display: flex;
  flex-direction: row;
}

.comp__blog-container_group {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding-bottom: 6rem;
}

@media screen and (max-width: 990px) {
  .comp__blog-container {
    flex-direction: column;
  }

  .comp__blog-container_group {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .comp__blog-container_group {
    grid-template-columns: repeat(1, 1fr);
  }

  .comp__blog-heading h1 {
    font-size: 28px;
    line-height: 55px;
  }
}

@media screen and (max-width: 550px) {
  .comp__blog-heading h1 {
    font-size: 18px;
    line-height: 42px;
  }

  .comp__blog-container_group {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
